<% @contacts.each do |contact| %>
<div>
    <h4>Contact name <%= contact.contact_name %></h4>
    <h5>position <%= contact.position %></h5>
    <h5> email address <%= contact.email %></h5>
</div>
<% end %>
